 * {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
 }

 a {
   text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
